* {
  margin: 0;
  font-family: "Quicksand";
}

body {
  background-color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(214, 214, 0);
}
.navbar h1 {
  color: black;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
  color: black;
}
.navbar a:hover {
  color: white;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.movie-list {
  color: white;
  text-align: center;
}

.movie-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  color: white;
  text-align: center;
}

.movie-preview h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 8px;
}


button {
  color: black;
  background-color: rgb(214, 214, 0);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  border: none;
}

img {
  width: 50%;
}